
      /* Show button when scrolled down */
.scroll-to-top-btn {
  position: fixed;
  bottom: 100px; /* Moved up by 20px (previously 20px) */
  left: 30px;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  background-color: #ca0707; /* WhatsApp green color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  z-index: 1000; /* Ensure it's on top of other content */
  transition: background-color 0.3s ease;
}
.scroll-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}


/*--------------------------------------------------------------
# Whatsapp Button
--------------------------------------------------------------*/
/* WhatsApp Button CSS */
.whatsapp-button{
  position: fixed;
  bottom: 100px; /* Moved up by 20px (previously 20px) */
  right: 30px;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  background-color: #25D366; /* WhatsApp green color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  z-index: 1000; /* Ensure it's on top of other content */
  transition: background-color 0.3s ease;
}

.whatsapp-button img {
  width: 40px; /* Adjust size of the icon */
}

.whatsapp-button:hover {
  background-color: #118509; /* Darker green for hover effect */
}
      .custom-border-radius {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    }  
    
    @media (max-width: 1024px) {
    
    #head{
    padding: 0px 1rem 0px 1rem !important;
    }
    
    }
    .ulmobile{
    margin: 2rem .1rem;
    }
    .ulmobile li{
     margin-top: 1rem;
     margin-left: 1rem;
    
    }
    
    .elemhoverclass{
     display: none;
     position: absolute;
     top: 0;
     right: -250px;
     
    }
    .elemhoverclass1{
     display: none;
     position: absolute;
     top: 0;
     right: -160px;
    }
    
    .elemhoverclass2{
     display: none;
     position: absolute;
     top: 0;
     right: -255px;
    }
    
    .elemparenthoverclass:hover .elemhoverclass,
    .elemhoverclass:hover {
     display: block;
    }
    header nav ul li a{
     color: #f5f6f6;
     text-decoration: none;
    }
    header nav ul li a:hover{
     font-weight: 600;
     color: #d30015;
    }
    .dropper li:hover{
     border-bottom: 2px solid  #d30015;
    }
    
    @keyframes dropdown {
     from {
         transform: translateY(-20px);
         opacity: 0;
     }
     to {
         transform: translateY(0);
         opacity: 1;
     }
    }
    
    .animate-dropdown {
     animation: dropdown 0.3s forwards;
    }
    
    