
      /* Show button when scrolled down */
.scroll-to-top-btn {
  position: fixed;
  bottom: 100px; /* Moved up by 20px (previously 20px) */
  left: 30px;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  background-color: #ca0707; /* WhatsApp green color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  z-index: 1000; /* Ensure it's on top of other content */
  transition: background-color 0.3s ease;
}
.scroll-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}


/*--------------------------------------------------------------
# Whatsapp Button
--------------------------------------------------------------*/
/* WhatsApp Button CSS */
.whatsapp-button{
  position: fixed;
  bottom: 100px; /* Moved up by 20px (previously 20px) */
  right: 30px;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  background-color: #25D366; /* WhatsApp green color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  z-index: 1000; /* Ensure it's on top of other content */
  transition: background-color 0.3s ease;
}

.whatsapp-button img {
  width: 40px; /* Adjust size of the icon */
}

.whatsapp-button:hover {
  background-color: #118509; /* Darker green for hover effect */
}
      .custom-border-radius {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    }  
    
    @media (max-width: 1024px) {
    
    #head{
    padding: 0px 1rem 0px 1rem !important;
    }
    
    }
    .ulmobile{
    margin: 2rem .1rem;
    }
    .ulmobile li{
     margin-top: 1rem;
     margin-left: 1rem;
    
    }
    
    .elemhoverclass{
     display: none;
     position: absolute;
     top: 0;
     right: -250px;
     
    }
    .elemhoverclass1{
     display: none;
     position: absolute;
     top: 0;
     right: -160px;
    }
    
    .elemhoverclass2{
     display: none;
     position: absolute;
     top: 0;
     right: -255px;
    }
    
    .elemparenthoverclass:hover .elemhoverclass,
    .elemhoverclass:hover {
     display: block;
    }
    header nav ul li a{
     color: #f5f6f6;
     text-decoration: none;
    }
    header nav ul li a:hover{
     font-weight: 600;
     color: #d30015;
    }
    .dropper li:hover{
     border-bottom: 2px solid  #d30015;
    }
    
    @keyframes dropdown {
     from {
         transform: translateY(-20px);
         opacity: 0;
     }
     to {
         transform: translateY(0);
         opacity: 1;
     }
    }
    
    .animate-dropdown {
     animation: dropdown 0.3s forwards;
    }
    
    
/* Hover effect for expanding background image */
.hover-zoom:hover .bg-img {
  transform: scale(1.1);
}
.bg-img {
  transition: transform 0.3s ease-in-out;
}

/* Custom font size for responsive text */
.responsive-text {
  font-size: 1.25rem;
}
@media (min-width: 640px) {
  .responsive-text {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .responsive-text {
    font-size: 1.75rem;
  }
}

/* Keyframes for fade-in animations from different directions */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Initial states to keep elements hidden before they enter the viewport */
.fade-in-left, .fade-in-right, .fade-in-up {
  opacity: 0;
  transform: translateY(50px); /* Adjust to control initial position */
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

/* Animation classes to apply on viewport entry */
.fade-in-left.show {
  animation: fadeInLeft 0.7s ease-out forwards;
}

.fade-in-right.show {
  animation: fadeInRight 0.7s ease-out forwards;
}

.fade-in-up.show {
  animation: fadeInUp 0.7s ease-out forwards;
}
