@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-indigo: #1b0046;
  --bs-red: #d30015;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #4F4F4F;
  --bs-primary: #A90101;
  --bs-secondary: #a8a8a8;
  --bs-warning: #d30704;
  --bs-light: #f5f6f6;
  --bs-dark: #000000;
  --bs-font-sans-serif: 'Poppins', 'Montserrat', 
    "Helvetica Neue", Arial, sans-serif,;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(170, 0, 0, 0.432),
    rgba(255, 255, 255, 0)
  );
}


/* Header CSS start*/
*{
    margin: 0;
    padding: 0;
  }
  .elemhoverclass{
    display: none;
    position: absolute;
    top: 0;
    right: -250px;
    
  }
  .elemhoverclass1{
    display: none;
    position: absolute;
    top: 0;
    right: -160px;
  }
  
  .elemhoverclass2{
    display: none;
    position: absolute;
    top: 0;
    right: -255px;
  }
 
  
  
  
  .elemparenthoverclass:hover .elemhoverclass,
  .elemhoverclass:hover {
    display: block;
  }
  header nav ul li a{
    color: var(--bs-light);
    text-decoration: none;
  }
  header nav ul li a:hover{
    font-weight: 600;
    color: var(--bs-red);
  }
  .dropper li:hover{
    border-bottom: 2px solid var(--bs-warning);
  }
  
  @keyframes dropdown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  .animate-dropdown {
    animation: dropdown 0.3s forwards;
  }
  /* Header CSS end */
  /* bg effect for industry  */
  .hover-zoom:hover .bg-img {
    transform: scale(1.1);
  }
  .bg-img {
    transition: transform 0.3s ease-in-out;
  }